/* @import url(https://allfont.ru/download/ubuntu-mono-italic/); */

/* @font-face {
    font-family: "Ubona";
    src: url();
}


.footer {
    display: flex;
    height: 50px;
    color: aliceblue;
    background-color: aliceblue;
  }
  
  .footer .copyright {
    align-self: center;
    margin: 0 auto;
  } */

/* 
img.small-rotate {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
img.small-rotate:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

 */



     